.content{
	margin-left: 250px;
	background: url(1.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	transition: 0.5s;
}

#check:checked ~ .content{
	margin-left: 60px;
}

#check{
	display: none;
}